#logo{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 90vw;
    top: 20px;
}

main{
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
}

section{
    margin-bottom: 2vh;
}

.titulo_denuncieja h2{
    display: flex;;
    color: #ed5339;
    font-size: 5rem;
}

.titulo_denuncieja p{
    display: flex;
    font-size: 2rem;
}

.sessao_tres_linha_um p{
    display: flex;
    font-size: 2rem;
}

.sessao_quatro_linha_um p{
    display: flex;
    font-size: 2rem;
}

/*.botoes_denuncia{
    width: 100%;
}
.botoes_denuncia button{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 36%;
    margin-right: 10%;
}*/
.botoes_denuncia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes_denuncia button {
    margin-bottom: 10px; /* Define o espaçamento entre os botões */
    width: 80%; /* Define a largura dos botões */
    max-width: 350px; /* Define a largura máxima dos botões */
    height: 70px; /* Define a altura dos botões */
    font-size: 24px; /* Define o tamanho da fonte dos botões */
}

button.botao_um {
    width: 100%;
}

button.botao_dois {
    width: 100%;
}

button.botao_tres {
    width: 100%;
}


button.botao_um{
    color: aliceblue;
    width: 305px;
    height: 66px;
    flex-shrink: 0;
    background: #6897ED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-bottom: 1vh;
}

button.botao_dois{
    color: aliceblue;
    width: 305px;
    height: 66px;
    flex-shrink: 0;
    background: #BEED51;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-bottom: 1vh;
}

button.botao_tres{
    color: aliceblue;
    width: 305px;
    height: 66px;
    flex-shrink: 0;
    background: #ED5339;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-bottom: 1vh;
}

.titulo_quaistipos{
    display: flex;
    font-size: 2rem;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



footer{
    padding: 2vh;
    background-color: black;
    color: #ffff;
    align-items: center;
    
}